* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

:focus, :active {
    outline: none;
}

.input_wrapper {
    position: relative;
}

.icon_eye {
    width: 24px;
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -45%);
    cursor: pointer;
}

.eye {
    --duration-blink: .2s;
    --duration-lashes: .2s;
    --delay-lashes: var(--duration-blink);
    --duration-pupil: .1s;
    --delay-pupil: calc(var(--duration-blink)*2/3);
}

.eye_bottom, #eye_top {
    stroke-linecap: round;
}

#eye_top {
    transition: var(--duration-blink) ease-in;
}

#eye_pupil {
    opacity: 0;
    transition: opacity var(--duration-pupil) var(--delay-pupil) ease;
}

.eye_open #eye_top {
    transform: rotateX(.5turn);
    animation: scaleUp var(--duration-lashes) var(--delay-lashes) ease-in-out;
}

.eye_open #eye_pupil {
    opacity: 1;
}


.eye_close #eye_pupil {
    opacity: 0;
}

.label{
    transition: .5s ease;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1rem;
    pointer-events: all;
    user-select: all;
}

.icon_eye.hide,
.label.hide{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.label.moveUp{
    transform: translate(0, -160%);
}

.input{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: inherit;
}

@keyframes scaleUp {
    50% {
        transform: rotateX(.5turn) scaleY(1.15);
    }
    to {
        transform: rotateX(.5turn) scaleY(1);
    }
}

@keyframes scaleDown {
    50% {
        transform: scaleY(1.15);
    }
    to {
        transform: scaleY(1);
    }
}